/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


root{
    --header-height:3rem;

    /*========== Colors ==========*/
    --primary:#0e1012;
    --secondary:#0e0f12;
    --text: #e2e2e2;
    --title: white;
    --link:#8b7af4;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box !important;
}




/* #242627

#303135

#74797e  grey text 

#e2e2e2 grey text

#0e1012 dark black 

#0e0f12 pale black

# 6b6e74  text grey  */

/* #8b7af4 purple link text */
body{
    /* background-color: #e2e2e2; */
    width: 100%;
    /* background-color: #242627; */
}

section{
    min-height:100vh;
}

/***************** hero section **********************/

.section--hero{
    text-align: center;
    /* background-color:#242627;
    color: #e2e2e2; */

    color:#242627;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path:polygon(0 0,100% 0,100% 88%,0 100%);

}
.section--hero h1:nth-child(1){
    font-size:4rem;
    letter-spacing: 3px;
}
/***************************************/


/***************** about section **********************/
.section--about{
    /* color:#242627;
    background-color: #e2e2e2;  */
    /* background-color: #e2e2e2; */
    /* clip-path:polygon(0 0,100% 0,100% 90%,0 100%); */

}
.section--about{
    background-color: #242627;
    width: 100%;

  
}
.section--about .about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--about .row{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;

}


.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.profile-pic{
    filter:grayscale(0.3)
}
.about-intro img{
    /* border-radius: 50%; */
    max-width:60%;
}
.bg-dark-text-white{
    background-color:hsl(228, 5%, 20%);
    color: white;
    width: 100%;
    padding:1.8rem;
    z-index:10;
}

.section--about .about-me-text{
    text-align: left;
    line-height: 1.5;
    color:#e2e2e2;
    /* word-spacing: 0.5em; */
}
.section--about p{
    font-size: 1.5rem;
}

/*****************************************/

/***************** skills section **********************/
.skill--section img{
    width:160px;
    height:160px;
    margin:2rem;
}

/* .skill--section .container{
    margin-top:15%;
    margin-bottom:15%;

} */
.skill--section .row{
     display:flex;

    align-items: center;
    justify-content: center;
}

.skills-container{
    min-height:100vh;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
/************************************************/

.sticky-offset{
    top:55px;
}

.hire-me{
    animation-delay: 5s;
    animation: moveInLeft 5s;
}

@keyframes moveInLeft {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/******************** Projects Section **************************/

#projects .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:5%;
}
#projects .container .row{
  z-index:1;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24); */
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:2rem;
  position:relative;
}
#projects .content{
    width:60%;
    text-align: center;
    margin:0 auto;
    /* margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.section--projects img{
    width:80%;
    height:auto;
    margin:2rem auto;
}

/****************** Contact Me ***********************/

.contact-me{
    position:relative; 
}
.fa-custom{
    color:#333;
    font-size: 3.5rem;
}

.socials-and-form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.socials-container{

    /* border:1px solid; */
}
.socials-row{
    display:flex;
    justify-content: center;
    align-items: center;
}
 .socials-row img{
    width:100px;
    height:100px;
}
.contact-form{
    width:90%;
    height:65vh;
}
.background-img-wrapper{
    /* background-image: url('./assets/nyc-grey-1.png'); */
    background-image: url('https://images.unsplash.com/photo-1518235506717-e1ed3306a89b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-position: top;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    filter:grayscale(1);
    /* opacity: 0.3; */
    z-index: -10;
}
.contact-form-wrapper{
    background-color:hsl(228, 5%, 20%);
    color:#e2e2e2;
    border-radius: 10px;
 }
.social-media .socials-row{
    justify-content: center;
}
 .registration-form{
	padding: 30px 0;
}

.registration-form form{
    background-color:hsl(228, 5%, 20%);
    color:#e2e2e2;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    padding: 40px 70px;

    border-radius: 20px;
    opacity: 0.99;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

/* .registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
} */

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 30px;
}

.registration-form .send-message-btn{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 30px;
}

/* .registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
} */

/* .registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
} */

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form  a:hover, .registration-form .send-message-btn:hover{
    opacity: 0.9;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 35px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

/***************** footer **********************/

#footer{
    padding:0.1rem;
    /* height:2rem; */

}

footer p{
    font-size: 12px;
    text-align: center;
    color:rgba(255,255,255,0.7);
    margin-top:14px;
}
/***************************************/

/***************** up arrow **********************/

.scroll-up{
    position: fixed;
    right: 1.8%;
    bottom: 4%;
    cursor:pointer;
    z-index: 100;
}
.up-arrow{
    width:3rem;
    height: 3rem;
}
/************************************************/

/***************** typography **********************/
.typedtext{
    /* color:#242627; */
    font-style: italic; 
    margin: 10px 50px; 
    letter-spacing: 8px; 
    font-weight: bold;   
}

.typedtext{
	text-align: center;
	color: rgba(255,255,255,0.9);
	font-size: 2rem;
}
.text-shadow{
    text-shadow: 0 -2px 0 #333,
    0 3px 4px rgba(0,0,0, 0.4),
    0 4px 5px rgba(0,0,0, 0.15),
    0 14px 5px rgba(0,0,0, 0.18),
    0 6px 5px rgba(0,0,0, 0.21);
}

/***************************************/

/**************** img  box shadow ***********************/

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.1);
    font-size: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }

  .neumorphic2 {
    box-shadow: 12px 12px 24px 0 rgba(255, 255, 255, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.1);
    font-size: 5rem;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }

  /***************************************/
