/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&family=Waiting+for+the+Sunrise&display=swap');

root{
    --header-height:3rem;

    /*========== Colors ==========*/
    --primary:#0e1012;
    --secondary:#0e0f12;
    --text: #e2e2e2;
    --title: white;
    --link:#8b7af4;
}

/* #242627

#303135

#74797e  grey text 

#e2e2e2 grey text

#0e1012 dark black 

#0e0f12 pale black

# 6b6e74  text grey  */

/* #8b7af4 purple link text */
body{
    /* background-color: #e2e2e2; */
    /* background-color: #242627; */
}

section{
    min-height:100vh;
}
nav a {
    letter-spacing: 2px;
    font-weight: 500;
}


  /* section two  */

.section--two{
    text-align: center;
    /* background-color:#242627;
    color: #e2e2e2; */

    color:#242627;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path:polygon(0 0,100% 0,100% 70%,0 100%);
}
.section--two h1:nth-child(1){
    font-size:4rem;
    letter-spacing: 3px;
}


/* section three */
.section--one{
    /* color:#242627;
    background-color: #e2e2e2;  */
    background-color: #e2e2e2;
    /* clip-path:polygon(0 0,100% 0,100% 90%,0 100%); */

}
.one-top{
    background-color:hsl(228, 5%, 20%);
    color: white;
    width: 100%;
    padding:2rem;
}


.section--one h4{
    text-align: center;
    line-height: 2;
    letter-spacing: 1rem;
}
.section--one p{
    font-size: 1.5rem;
}
 .typedtext{
    /* color:#242627; */
    font-style: italic; 
    margin: 10px 50px; 
    letter-spacing: 10px; 
    font-weight: bold;   
}

 .typedtext{
	text-align: center;
	color: rgba(255,255,255,0.9);
	font-size: 2rem;
}
.text-shadow{
    text-shadow: 0 -2px 0 #333,
    0 3px 4px rgba(0,0,0, 0.4),
    0 4px 5px rgba(0,0,0, 0.15),
    0 14px 5px rgba(0,0,0, 0.18),
    0 6px 5px rgba(0,0,0, 0.21);
}

footer{
    color:rgba(255,255,255,0.5);
    text-align: center;
}

/* wrapper contact me*/ 
.wrapper{
    background-color:hsl(228, 5%, 20%);
    color:#e2e2e2;
    border-radius: 10px;
}

 @media screen and (min-width:978px){
    .wrapper{
        width: 35%;
        height: 55%;
    }
} 
.hire-me{
    animation-delay: 5s;
    animation:moveInLeft 5s;
}
@keyframes moveInLeft {
    0%{
        opacity:0;
        /* transform: translateX(-100px); */
    }
    100%{
        opacity:1;
        /* transform: translateX(0); */
    }
}


/* section four */
.section--four{
    background-color: #242627;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--four img{
    /* border-radius: 50%; */
    max-width: 70%;
    opacity:0.9;
}

/* skill section */
.skill--section img{
    width:200px;
    margin:2rem;
}

.skill--section .container{
    margin-top:20%;
}
.skill--section .row{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}